.container {
  display: flex;
  width: 100%
  background-color: white;
  align-items: center;
  padding: 7px 0 7px 0;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 0;
  border-bottom: 1px solid black;
}

a {
  color : black;
  padding: 10px;
}

.nav {
flex-shrink: 1;
margin-right: 30px;
font-size: 16px;
}

.time {
flex-grow: 2;
margin-left: 15px;
color: mediumaquamarine;
font-size: 16px;
}
